    @using (Html.BeginForm("DeslogarPartial", "DeslogarPartial", FormMethod.Get))
    {
        <button type="submit" class="btn btn-reflex-login"  onclick="return confirm('Deseja realmente sair?')">Sair</button>
    }
